.container {
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.container__type {
}

.container__content {
    margin-left: 1em;
    
}

.eventData {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}