.container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2em;
}

.container__content {
    margin-left: 1em;    
}

.container__logo {
    margin-top: 1em;
}

.description {
    font-size: 0.8em;
}

.data {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}