---
---

@import "{{ site.theme }}";

a:hover {
    color: #003399;
    font-weight: inherit;
}

@media (min-width:961px) {
    .left-panel {
        float: left;
        top: 55px;
        bottom: 0;
        position: fixed;
        overflow-y: scroll;
        padding-right: 25px;
    }

    footer, header {
        float: none;
        position: relative;
    }

    footer {
        bottom: 0px;                
    }
}

@media (min-width:961px) {
    footer.footer-lg {
        display: block;

        hr {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    footer.footer-mobile {
        display: none;
    }
}

@media (max-width:960px) {
    footer.footer-lg {
        display: none;
    }
    footer.footer-mobile {
        display: block;
    }
}