---
import PageLayout from "@/layouts/Base";
import SocialList from "@/components/SocialList";
import michalczukmPhoto from "../assets/michalczukm.png";
import { Image } from "astro:assets";
import { SOCIAL_LINKS } from "@/data/constants";
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<div>
			<Image
				class="float-left mb-4 mr-4 h-[30%] w-[30%] rounded-md md:mr-8"
				src={michalczukmPhoto}
				alt="Michał Michalczuk"
			/>
			<p class='my-6'>
				I am a strongly web-oriented{" "}
				<strong>full-stack software developer</strong> and IT trainer.
			</p>

			<p class="mb-6 md:mb-4 mt-4">
				Senior Software Engineer
				<a
					href="https://www.tektitconsulting.com/"
					title="Tektit"
					target="_blank"
					class="cactus-link">@Tektit</a
				>
			</p>

			<div class="my-4">
				Co-host of{" "}
				<a
					href={SOCIAL_LINKS.youtube}
					target="_blank"
					class="cactus-link"
					title="DRAMA-devs by JustJoin It"
				>
					DRAMA-devs
				</a>{" "}YouTube channel
				<small>(with <a
						href="https://justjoin.it/"
						target="_blank"
						class="cactus-link"
						title="JustJoin It">JustJoin It</a
					>)</small
				>
			</div>

			<p class="my-4">I talk about web, node.js, AI and stuff. <a href="/talks" class="cactus-link">Selected talks</a>.</p>

			<hr class="my-6" />

			<p class="my-4">
				Other projects:
				<ul class="list-inside list-disc">
					<li>
						<a
							href="https://podcasters.spotify.com/pod/show/zarchiwumit"
							target="_blank"
							class="cactus-link"
							title="Z Archiwum IT"
						>
							Z&nbsp;Archiwum&nbsp;IT
						</a>{" "}podcast
					</li>
					<li>
						<a
							href="https://gabinet-wieczorynka.pl"
							target="_blank"
							class="cactus-link"
							title="Gabinet Lekarski Wieczorynka"
						>
							Gabinet Lekarski Wieczorynka
						</a>
					</li>
				</ul>
			</p>
		</div>
	</section>
	<section class="float-none mt-6">
		<SocialList />
	</section>
</PageLayout>
